{# card: display one issue #}

{# tooltip #}
{% set tooltip %}
#{{ issue.id }} {{ issue.subject }}

{{ issue.project.name|replace({' (': ' \n('}) }}

zugewiesen an: {{ issue.assigned_to.name|default('(niemand)') }}
{% if issue.due_date > 0 %}
Abgabedatum: {{ issue.due_date }} (noch {{ issue._calc.remaining_days }} Tage)
{% endif %}
aktualisiert vor: {{ issue._calc.last_updated }} Tagen
{% endset %}

{# card #}
<a href="{{ url }}/issues/{{ issue.id }}" target="_blank">
<div id="{{ issue.id }}" class="box c{{ issue._style.color }} b{{ issue._style.border }} s{{ issue._style.size }} {{ issue._style.custom }}" title="{{ tooltip }}"></div>
</a>
