{# debug: display some debug information #}

<div style="background:#ffeeee;border:2px solid #994444; position: fixed; top: 10px; right:18px; padding: 3px; width:120px">
    <b>DEBUG:</b><br>
    - <span title="{{ dump(config) }}">Globale Konfig</span><br>
    - <span title="{{ dump(board) }}">Board-Konfig</span><br>
    - <span title="{{ dump(params) }}">Parameter ({{ params | length}})</span>
</div>

