{# footer: version and html footer #}

<div class="version">
    Powered by <a href="https://gitlab.com/gruniversal/redmine-board" target="_blank">Redmine Board</a> {{ version }}
</div>

</body>
</html>
