{# header: display html header #}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Redmine Board</title>
    <link href="./themes/vanilla/static/font_barlow.css" rel="stylesheet">
    <link href="./themes/vanilla/static/redmine-board.css" rel="stylesheet">
    <link rel="icon" href="./themes/vanilla/static/favicon.ico" type="image/x-icon">
    <script src="./themes/vanilla/static/js/silentrefresh.js" defer></script>
</head>
<body>
    <div class="whole">
