/* Font Barlow - latin / latin_ext from Google Webfonts Helper: https://gwfh.mranftl.com/fonts/barlow?subsets=latin,latin-ext */

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/barlow-v12-latin_latin-ext-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/barlow-v12-latin_latin-ext-100italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/barlow-v12-latin_latin-ext-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 200;
  src: url('./fonts/barlow-v12-latin_latin-ext-200italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/barlow-v12-latin_latin-ext-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/barlow-v12-latin_latin-ext-300italic.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/barlow-v12-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/barlow-v12-latin_latin-ext-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/barlow-v12-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/barlow-v12-latin_latin-ext-500italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/barlow-v12-latin_latin-ext-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/barlow-v12-latin_latin-ext-600italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/barlow-v12-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/barlow-v12-latin_latin-ext-700italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/barlow-v12-latin_latin-ext-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 800;
  src: url('./fonts/barlow-v12-latin_latin-ext-800italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/barlow-v12-latin_latin-ext-900.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/barlow-v12-latin_latin-ext-900italic.woff2') format('woff2');
}