/* page */

body {
	font-family: 'Barlow', Arial, sans-serif;
	font-size: 12px;
}

.whole {
	min-width: 600px;
	max-width: 1400px;
	margin: auto;
}

.clear {
	clear: both;
}

/* headline */

.headline {
	font-size: 12px;
	margin-bottom: 8px;
	background-color: black;
}

.headline h1 {
	font-size: 20px;
	color: #FFFFFF;
	background-color: black;
	padding: 4px;
	float: left;
	margin: auto;
}

.headline .switch {
	font-size: 20px;
	color: #FFFFFF;
	background-color: black;
	padding: 1px 8px 7px 4px;
	float: right;
}

.headline .switch select {
	appearance: button;
	user-select: none;
	padding: 0 12px 0 4px;
	font-size: 12px;
	color: #999999;
	background-color: #222222;
	border-color: #333333;
	border-radius: 0.1em;
}

/* filter */

.filter {
	font-size: 14px;
	margin-bottom: 8px;
}

.filter form select,
.filter form input {
	align-items: center;
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 4px;
	font-family: 'Barlow', Arial, sans-serif;
	height: 22px;
	font-size: 13px;
	color: #000;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 2px;
}

/* dynamic highlight search */

.filter form input[type="search"] {
	padding-left: 20px;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 6px center;
}

input[type="search"]::placeholder {
	color: #bbb;
}

.board div.box.dhsf {
	transition: all 0.5s linear;
}

.board div.box.dhsn {
	opacity: 0.2;
	background-color: #ccc;
	border-color: #999;
	transition: all 0.5s linear;
}

/* board */

.board th {
	font-size: 17px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	background-color: lightgrey;
}

.board td {
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/* card */

div.box {
	border: 1px solid #444444;
	background-color: grey;
	height: 10px;
	width: 10px;
	float: left;
	margin: 1px;
	border-radius: 2px;
}

div.board div.box:hover {
	border-style: solid;
	border-color: #222222;
	opacity: 1;
	box-shadow: 0px 0px 1px 1px black;
}

/* subline */

.subline {
	margin-top: 4px;
	margin-bottom: 2px;
	text-align: left;
	font-size: 11px;
	color: #666666;
	padding: 2px;
}

.global-count {
	float: left;
}

.global-count b {
	color: #CC0000;
}

/* refresh */

.refresh {
	float: right;
}

.refresh a {
	border: 1px solid #AAAAAA;
	color: white;
	background-color: #999999;
	text-decoration: none;
	border-radius: 3px;
	padding: 1px 2px 1px 2px;
	margin-left: 2px;
	animation: rotating 4s linear infinite;
}

.refresh a:hover {
	border: 1px solid #3366DD;
	color: white;
	background-color: #3366DD;
}

.refresh a .spin {
	display: inline-block;
}

@keyframes rotating {
	0% {
		rotate: 0;
	}

	100% {
		rotate: 1turn;
	}
}

.rotating {
	animation: rotating 2s linear infinite;
}

/* footer */

.footer {
	margin-top: 20px;
}

.version {
	font-size: 9px;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.version a {
	text-decoration: underline;
	color: #666666;
}

/* color */

div.c1 {
	border: 1px solid #222222;
	background-color: #660066;
}

div.c2 {
	border: 1px solid #222222;
	background-color: magenta;
}

div.c3 {
	border: 1px solid #333333;
	background-color: red;
}

div.c4 {
	background-color: orange;
}

div.c5 {
	background-color: green;
}

div.c0 {
	background-color: lightblue;
}

/* border */

div.b1 {
	border: 2px solid #111111;
	margin: 0px;
	opacity: 1.0;
}

div.b2 {
	border: 1px solid #222222;
	margin: 1px;
	opacity: 0.85;
}

div.b3 {
	border: 1px dotted #444444;
	margin: 1px;
	opacity: 0.5;
}

/* size */

div.s1 {
	width: 3px;
}

div.s2 {
	width: 6px;
}

div.s3 {
	width: 10px;
}

div.s4 {
	width: 16px;
}

div.s5 {
	width: 24px;
}

div.s0 {
	width: 10px;
	/*border: 1px dashed #FFFFFF;*/
}