/* custom */

.custom {
	margin-top: 8px;
	display: flex;
}

.legend {
	display: flex;
	width: 400px;
	background-color: #eeeeee;
	padding: 10px;
}

.legend>div {
	flex: 1 1 auto;
}

.legend-head {
	min-width: 100px;
	margin-bottom: 10px;
}

.legend-item {
	min-width: 100px;
	position: relative;
	left: 6px;
}

.messages {
	margin: 10px;
}

/* long overdue issues */

@keyframes AnimationOverdueItems {
	0% {
		background: linear-gradient(#ff00ff, #660066);
	}

	100% {
		background: linear-gradient(#660066, #660066);
	}
}

div.c1 {
	animation: AnimationOverdueItems 2s ease infinite;
}

/* custom styles */

div.state-emergency {
	border: 1px solid #111111 !important;
	margin: 1px !important;
	opacity: 1.0 !important;
	animation: AnimationEmergencyItems 0.3s ease infinite !important;
}

@keyframes AnimationEmergencyItems {
	0% {
		background: linear-gradient(#ff0000, #000);
	}

	50% {
		background: linear-gradient(#0000ff, #000);
	}

	100% {
		background: linear-gradient(#ff0000, #000);
	}
}