{# board: display issue matrix #}

<div class="board">

{% if columns|length > 0 %}
<table>

{# automatic sizing of columns (~20% first column) #}
{% set count = columns|length %}
{% set width_column = (80 / count)|round(0, 'floor') %}
{% set width_first = (100 - count * width_column)  %}

{# determine name for dimension Y #}
{% if dimY == 'assigned_to' %}
    {% set row_title = 'Bearbeiter' %}
{% elseif dimY == 'project' %}
    {% set row_title = 'Projekte' %}
{% elseif dimY == 'category' %}
    {% set row_title = 'Kategorie' %}
{% elseif dimY == 'author' %}
    {% set row_title = 'Ersteller' %}
{% elseif dimY == 'status' %}
    {% set row_title = 'Status' %}
{% elseif dimY == 'priority' %}
    {% set row_title = 'Priorität' %}
{% elseif dimY == 'tracker' %}
    {% set row_title = 'Tracker' %}
{% else %}
    {% set row_title = dimY %}
{% endif %}

{# show table headings #}
<thead><tr><th style="height:50px;width:{{ width_first }}%">{{ row_title }}</th>
{% for column in columns %}

    {# tooltip #}
    {% set tooltip %}
    offene Tickets: {{ counts['column:' ~ column]['last_updated'] }}
    Restaufwand: {{ sums['column:' ~ column]['effort'] ~ ' Stunden' }}
    {% endset %}

<th class="tippy" title="{{ tooltip }}" style="width:{{ width_column }}%">{{ column }}</th>
{% endfor %}
</tr></thead>

{# display matrix #}
<tbody>
{% for row in rows %}

    {# tooltip #}
    {% set tooltip %}
    offene Tickets: {{ counts['row:' ~ row]['last_updated'] }}
    Restaufwand: {{ sums['row:' ~ row]['effort'] ~ ' Stunden' }}
    {% endset %}

<tr><td class="tippy" title="{{ tooltip }}">{{ row }}</td>
    {% for column in columns %}
    <td>
        {% for issue in cells[column][row] %}
            {{ include('card.twig') }}
        {% endfor %}
    </td>
    {% endfor %}
</tr>    
{% endfor %}
</tbody>

</table>
{% endif %}

</div>
