{# custom: display legend and messages #}

<div class="custom">

    {# legend #}
    <div class="legend">
        <div>
            <div class="legend-head">Fälligkeit:</div>
            <div class="box c1"></div><div class="legend-item">lange überfällig</div>
            <div class="box c2"></div><div class="legend-item">überfällig</div>
            <div class="box c3"></div><div class="legend-item">binnen 3 Tagen</div>
            <div class="box c4"></div><div class="legend-item">binnen 7 Tagen</div>
            <div class="box c5"></div><div class="legend-item">mehr als 7 Tage</div>
            <div class="box c0"></div><div class="legend-item">ohne Deadline</div>
        </div>
        <div>
            <div class="legend-head">Priorität:</div>
            <div class="box b1"></div><div class="legend-item">Hoch</div>
            <div class="box b2"></div><div class="legend-item">Mittel</div>
            <div class="box b3"></div><div class="legend-item">Gering</div>
        </div>
        <div>
            <div class="legend-head">Restaufwand:</div>
            <div class="box s1"></div><div class="legend-item">unter 1h</div>
            <div class="box s2"></div><div class="legend-item">unter 2h</div>
            <div class="box s3"></div><div class="legend-item">unter 4h</div>
            <div class="box s4"></div><div class="legend-item">unter 8h</div>
            <div class="box s5"></div><div class="legend-item">über 8h</div>
            <div class="box s0"></div><div class="legend-item">unbekannt</div>
        </div>
    </div>

    {# messages #}
    <div class="messages">
        überfällige Tickets: {{ sums.is_overdue ?: 0 }}<br>
        Summe Restaufwand: {{ sums.effort ?: 0 }} Stunden ({{ count_issues - counts.effort }} Ticket(s) ohne Angabe)<br>
    </div>
</div>

