{# filter: display board filters #}

<div class="filter">
    <form action="" method="get">

    {# save board-id if given #}
    {% if params.board is not empty %}
    <input type="hidden" name="board" value="{{ params.board }}">
    {% endif %}

    {# set filters in configuration order #}
    {% if filters is defined %}
        {% for filter in filters %}

            {# default mappings #}
            {% set filter_list = dimensions[filter] %}
            {% set filter_current = params[filter] %}

            {# determine name and set custom mappings #}
            {% if filter == 'assigned_to' %}
                {% set filter_title = '(Alle Bearbeiter)' %}
            {% elseif filter == 'project' %}
                {% set filter_title = '(Alle Projekte)' %}
            {% elseif filter == 'category' %}
                {% set filter_title = '(Alle Kategorien)' %}
            {% elseif filter == 'author' %}
                {% set filter_title = '(Alle Ersteller)' %}
            {% elseif filter == 'status' %}
                {% set filter_title = '(Alle Status)' %}
            {% elseif filter == 'priority' %}
                {% set filter_title = '(Alle Prioritäten)' %}
            {% elseif filter == 'tracker' %}
                {% set filter_title = '(Alle Typen)' %}
            {% else %}
                {% set filter_title = filter %}
                {% set filter_list = [] %}
                {% set filter_current = '' %}
            {% endif %}

            <select name="{{ filter }}" onchange="this.form.submit()">
            <option value="">{{ filter_title }}</option>
            {% for entry in filter_list %}
                {% if entry.id == -1 %}
                    {% if entry.id == filter_current %}
                        <option value="{{ entry.id }}" selected>(nicht zugewiesen)</option>
                    {% else %}
                        <option value="{{ entry.id }}">(nicht zugewiesen)</option>
                    {% endif %}
                {% elseif entry.id == filter_current %}
                    <option value="{{ entry.id }}" selected>{{ entry.name }}</option>
                {% else %}
                    <option value="{{ entry.id }}">{{ entry.name }}</option>
                {% endif %}

            {% endfor %}
            </select>
        {% endfor %}
    {% endif %}

    <!-- dynamic highlight search -->
    <input type="search" name="search" id="search" placeholder="Suche" value="{{ search }}">
    <script src="./themes/vanilla/static/js/DynamicHighlight.js"></script>
    <script>
        DynamicHighlight.setup('search', 'div.box', 'data-title', 'dhsf', 'dhsn');
        DynamicHighlight.run();
    </script>

    </form>
</div>

