{# footer: version and html footer #}

<div class="version">
    Powered by <a href="https://gitlab.com/gruniversal/redmine-board" target="_blank">Redmine Board</a> {{ version }} on PHP {{ constant('PHP_VERSION') }}
</div>

<!-- custom: dynamic highlight search -->
<script>
    // copy title to data-title to preserve it for use in dynamic highlight search (since we kill titles for tippy)
    document.querySelectorAll('td div.box').forEach((box) => {
        box.setAttribute('data-title', box.title);
    });
</script>

<!-- custom: tippy integration -->
<script src="./themes/pluspol/static/js/tippy/popper.min.js"></script>
<script src="./themes/pluspol/static/js/tippy/tippy-bundle.umd.min.js"></script>
<script>
    document.querySelectorAll('td div.box').forEach((box) => {
        tippy(box, {
            content: box.title.replace(/\n/g, '<br>'),
            duration: [1000, 1000],
            allowHTML: true,
            theme: 'tooltip'
          });
        box.title = '';
    });

    document.querySelectorAll('div.board th.tippy').forEach((row) => {
        tippy(row, {
            content: row.title.replace(/\n/g, '<br>'),
            duration: [1000, 1000],
            allowHTML: true,
            theme: 'tooltip',
            placement: 'top'
          });
        row.title = '';
    });

    document.querySelectorAll('div.board td.tippy').forEach((row) => {
        tippy(row, {
            content: row.title.replace(/\n/g, '<br>'),
            duration: [1000, 1000],
            allowHTML: true,
            theme: 'tooltip',
            placement: 'right'
          });
        row.title = '';
    });
</script>

</body>
</html>
