{# headline: display headline and board switch #}

<div class="headline">
    <h1>{{ title }}</h1>
    <div class="switch">
        <form action="" method="get">
            <select name="board" onchange="this.form.submit()">
            {% if boards is defined %}
                {% for id, board in boards %}
                    {% if id == current_id %}
                        <option value="{{ id }}" selected>{{ board.name }}</option>
                    {% else %}
                        <option value="{{ id }}">{{ board.name }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </select>
        </form>
    </div>
    <div class="clear">
    </div>
</div>
