{# header: display html header #}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Redmine Board</title>
    <link href="./themes/vanilla/static/font_barlow.css" rel="stylesheet">
    <link href="./themes/vanilla/static/redmine-board.css" rel="stylesheet">
	<!-- custom: subline css -->
    <link href="./themes/pluspol/static/custom.css" rel="stylesheet">
    <link rel="icon" href="./themes/vanilla/static/favicon.ico" type="image/x-icon">
	<script src="./themes/vanilla/static/js/silentrefresh.js" defer></script>

	<!-- custom: tippy integration -->
	<style>
	.tippy-box[data-theme~='tooltip'] {
	  background-color: #FFFFCC;
	  color: #000000;
	  border: 1px solid #222;
	  font-size: 1em;
	  box-shadow: 2px 2px 2px #CCC;
	}
	.tippy-box[data-theme~='tooltip'][data-placement^='top'] > .tippy-arrow::before {
	  border-top-color: #000;
	  bottom: -8px;
	}
	.tippy-box[data-theme~='tooltip'][data-placement^='right'] > .tippy-arrow::before {
	  left: -8px;
	}
	</style>
</head>
<body>
    <div class="whole">
