{# refresh: display issue count, data timestamp and refresh button #}

<div class="subline">

<div class="global-count">
    Anzahl Tickets: {{ count_issues ?: 0 }} / {{ count_issues_all }} angezeigt
    {% if count_issues_all == limit %}
        <b>(durch Konfiguration begrenzt)</b>
    {% endif %}
</div>

<div class="refresh">
    Datenzeitpunkt: {{ timestamp|date('d.m.Y H:i:s') }} (vor {{ minutes }} Minuten) <a href="{{ refresh_url|raw }}" onclick="start_spin_rotation()"><span class="spin">&#10227</span> Refresh</a>
</div>

<div class="clear"></div>

</div>
